alembic==1.14.0
bcrypt==4.0.1
boto3==1.40.25
fastapi==0.115.6
python-decouple==3.8
python-multipart==0.0.20
uvicorn[standard]
passlib==1.7.4
pillow==11.1.0
python-jose==3.3.0
pytz==2023.3
requests==2.32.3
pymongo==4.14.1
opencv-python
zipfile36
smart_open==7.3.0.post1
opencv-python==4.12.0.88